In [2]:
import pandas as pd

In [6]:
sequence_data = pd.read_pickle('./sequence_data/sequence_data_stdscaler_test.pkl')

In [7]:
sequence_data.head()

,store_item_id,x_sequence,y_sequence,date,item,store,yearly_corr
0,10_1,"[[-1.4795, 0.7817, 0.6235, 0.5, 0.866, 0.0, 0....","[[0.2795, -0.7817, 0.6235, 0.0, -1.0, 0.0, -0....",2013-06-30,1,10,-1.151367
1,10_1,"[[-1.4795, 0.975, -0.2225, 0.5, 0.866, 0.0, 0....","[[-0.6, 0.0, 1.0, -0.5, -0.866, 0.0, 0.2013, 0...",2013-07-01,1,10,-1.151367
2,10_1,"[[-1.229, 0.4338, -0.901, 0.5, 0.866, 0.0, 0.5...","[[-0.0975, 0.7817, 0.6235, -0.5, -0.866, 0.0, ...",2013-07-02,1,10,-1.151367
3,10_1,"[[-1.103, -0.4338, -0.901, 0.5, 0.866, 0.0, 0....","[[-0.0975, 0.975, -0.2225, -0.5, -0.866, 0.0, ...",2013-07-03,1,10,-1.151367
4,10_1,"[[-1.731, -0.975, -0.2225, 0.5, 0.866, 0.0, 0....","[[-0.4744, 0.4338, -0.901, -0.5, -0.866, 0.0, ...",2013-07-04,1,10,-1.151367

In [9]:
sequence_data.iloc[0]

store_item_id                                                 10_1
x_sequence       [[-1.4795, 0.7817, 0.6235, 0.5, 0.866, 0.0, 0....
y_sequence       [[0.2795, -0.7817, 0.6235, 0.0, -1.0, 0.0, -0....
date                                           2013-06-30 00:00:00
item                                                             1
store                                                           10
yearly_corr                                               -1.15137
Name: 0, dtype: object

In [11]:
sequence_data.iloc[0]['x_sequence'].shape

(180, 8)

In [12]:
sequence_data.iloc[0]['y_sequence'].shape

(90, 9)

In [15]:
sequence_data.query("store_item_id=='10_1'").shape

(1647, 7)